<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Test</title>
</head>
<body>

<div id="log" style="border: 1px solid #000; padding: 10px; max-height:300px; over"></div>

<script src="/webjars/sockjs-client/1.1.2/sockjs.js"></script>
<script src="/js/main.js"></script>
<script>
    window.onload = function() {
        for (var i = 0; i < 1; i++) {
            setTimeout(initSocket, 200);
        }
    }

    function initSocket() {
        var m = new main("http://localhost:8000/ws/echo", "log");

        setInterval(function () {
            try {
                //m.send(10);
            } catch (e) {
                console.log(e);
            }
        }, 100);
    }


</script>
</body>
</html>